body {
    font: 13px Helvetica, Arial;
}

#header {
    width: 100%;
    height: 20%;
    float: left;
}

#gameButtons {
    width: 100%;
    height: 10%;
    float: left;
    clear: both;
}

#board {
    clear: both;
    width: 75%;
    height: 70%;
    float: left;
}

#matches {
    width: 25%;
    height: 80%;
    float: right;
    list-style-type: none;
}

#matchTable {
    border-collapse: collapse;
}

#matchTable:nth-child(odd) {
    background: #eee;
}

#matchTable td {
    border-collapse: collapse;
}

#log {
    clear: both;
    float: left;
}


.piece {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
}

.pieceSmall {
    height: 64px;
    width: 64px;
}

.pieceMedium {
    height: 96px;
    width: 96px;
}

.pieceLarge {
    height: 128px;
    width: 128px;
}

.unselected {
    border: 5px solid white;
}

.selected {
    border: 5px solid green;
}

.matchImg {
    height: 64px;
    width: 64px;
    border-radius: 100%;
}

.logEntry {
    hidden: false;
}

.button {
    background-color: rgba(25, 136, 136, 1);
    display: inline-block;
    height: 50px;
    width: 100px;
    border-radius: 5%;
    text-align: center;
    border: 3px solid black;
    padding-right: 10px;
}