body {
    font: 13px Helvetica, Arial;
}

#header {
    width: 100%;
    height: 20%;
    float: left;
}

#gameButtons {
    width: 100%;
    height: 10%;
    float: left;
    clear: both;
}

#board {
    clear: both;
    width: 75%;
    height: 70%;
    float: left;
}

#matches {
    width: 25%;
    height: 80%;
    float: right;
    list-style-type: none;
}

#matchTable {
    border-collapse: collapse;
}

#matchTable:nth-child(odd) {
    background: #eee;
}

#matchTable td {
    border-collapse: collapse;
}

#log {
    clear: both;
    float: left;
}


.piece {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.pieceSmall {
    height: 64px;
    width: 64px;
    line-height: 8px;
    font-size: 32px;
}

.pieceMedium {
    height: 96px;
    width: 96px;
    line-height: 12px;
    font-size: 48px;
}

.pieceLarge {
    height: 128px;
    width: 128px;
    line-height: 16px;
    font-size: 64px;
}

.unselected {
    border: 5px solid white;
}

.selected {
    border: 5px solid green;
}

.matchImg {
    height: 64px;
    width: 64px;
    border-radius: 100%;
}

.logEntry {
    hidden: false;
}

.button {
    border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 50px;
	width: 120px;
    margin-right: 10px;
	text-align: center;
    float: left;
}

.question {
    font-family: cursive;
    color: black;
}